<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h1 class="new-password-page-text-color new-password-page-heading-margin">Suggest a location</h1>
            <p class="new-password-page-text-color">Please enter the address of the location you are offering.</p>
            <div class="input-group mb-1">
                <input type="text" class="form-control" placeholder="Address" aria-label="Address" aria-describedby="basic-addon1">
            </div>
            <p class="new-password-page-text-color">Please add photos of the location you offer.</p>
            <button type="button" class="btn btn-light btn-circle button-margin">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </button>
            <p class="new-password-page-text-color">Do you want to write about something else?</p>
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" placeholder="..." aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            </div>
            <button type="button" class="btn btn-warning main-btn-circle main-button-margin"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg></button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>
