<app-main-navbar></app-main-navbar>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <h1
                    class="new-password-page-text-color new-password-page-heading-margin">
                Change password
            </h1>
            <form>
                <p
                        class="new-password-page-text-color">
                    Please enter the email you used to enter the site.
                </p>
                <div class="form-group mb-1">
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                            aria-describedby="basic-addon1"
                            ngModel
                            email
                            required
                            name="email">
                </div>
                <button
                        type="button"
                        class="btn btn-light btn-circle button-margin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
                <p
                        class="new-password-page-text-color">
                    Please enter the code from a personal message from the Administration to confirm that you are the owner of the account.
                </p>
                <div
                        class="form-group mb-1">
                    <input
                            type="text"
                            class="form-control"
                            placeholder="Code"
                            aria-label="Code"
                            aria-describedby="basic-addon1"
                            ngModel
                            required
                            name="code">
                </div>
                <button
                        type="button"
                        class="btn btn-light btn-circle button-margin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
                <p
                        class="new-password-page-text-color">
                    Please enter and repeat your new password.
                </p>
                <div class="form-group mb-1">
                    <input
                            type="password"
                            class="form-control"
                            placeholder="New password"
                            aria-label="New password"
                            aria-describedby="basic-addon1"
                            ngModel
                            required
                            name="password">
                </div>
                <div class="input-group mb-1">
                    <input
                            type="password"
                            class="form-control"
                            placeholder="Repeat new password"
                            aria-label="Repeat new password"
                            aria-describedby="basic-addon1"
                            ngModel
                            required
                            name="password2">
                </div>
                <button
                        type="submit"
                        class="btn btn-warning main-btn-circle main-button-margin">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </button>
            </form>
        </div>
        <div class="col-md-6">
            <img
                    src="./assets/images/new-password-page.jpg"
                    width="580"
                    vspace="65"
                    hspace="10">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
