.proposal-text{
  color: #cbc9bb;
  text-align: center;
}

.proposal-heading{
  color: #cbc9bb;
  text-align: center;
  margin-top: 10px;
}

.proposal-text-from-user{
  text-align: center;
}

.main-btn-circle{
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
}
