<div class="container-fluid sticky-top">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid sticky-top">
            <div class="collapse navbar-collapse"  id="navbarSupportedContent">
                <ul class="navbar-nav  me-auto mb-2 mb-md-0">
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" aria-current="page" [routerLink]="['/identity-card']"><strong class="text-color">Identity card</strong></a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['/all-musical-cards']"><strong class="text-color">Musical cards</strong></a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['/all-locations']"><strong class="text-color">Locations</strong></a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['/all-events']"><strong class="text-color">Events</strong></a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['/all-users']"><strong class="text-color">Users</strong></a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link" [routerLink]="['/all-proposals']"><strong class="text-color">Proposals</strong></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
