svg{
  fill: #f47721;
}

.btn-circle {
  width: 38px;
  height: 38px;
  border-radius: 19px;
  padding-left: 0;
  padding-right: 0;
  font-size: 16px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
