.main-navbar-center {
  width:300px;
}

.text-color{
  color: #cbc9bb;
}

div{
  font-family: "Bahnschrift";
  color: #cbc9bb;
}

.navbar a:hover {
  color: #cbc9bb;
  opacity: 0.3;
}

.navbar a.active {
  color: #cbc9bb;
  opacity: 0.3;
}
