.gallery-photo {
  border-radius: 100px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
}

a:hover img  {
  border: 3px solid #efe9e5;
  opacity: 0.8;
  box-shadow: 0 0 0 1px #efe9e5, 0 0 10px #59626a
}
