<div id="aboutPart" class="main-page-margin text-color">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <h1 class="text-center heading-margin">Excursion</h1>
            <p class="element-margin">The Musicity is filled with many talented musicians, beautiful locations and vibrant events. If you love music as much as other residents of the Musicity, then rather sign up in this application. You will be able to follow your favorite musicians and their concerts. And if you love not only listening to music, but also performing it, then you can become a musician and organize your own concerts.</p>
        </div>
        <div class="col-md-6">
            <img src="./assets/images/main_page_about.jpg" height="420">
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>
